# cycler==0.10.0
importlib-resources==6.4.0
matplotlib==3.8.0
meshio==5.3.5
numpy==1.26.0
openpyxl==3.1.2
pandas==2.2.2
pymoo==0.6.1
pyswarm==0.6
rich==13.7.1
scikit_learn==1.4.2
scipy==1.13.0
setuptools==70.0.0 
tqdm==4.66.3
xlrd==2.0.1
XlsxWriter==3.2.0
